@model IEnumerable<CCSB.Models.Crv>
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signinManager

@{
    ViewData["Title"] = "Index";
}


@if (signinManager.IsSignedIn(User) && User.IsInRole("Beheerder"))
{

    <h1>Lijst van alle voertuigen</h1>

    <p>
        <a asp-action="Create">Maak een nieuwe voertuig aan</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CrvName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrvType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrvLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrvElectricity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrvPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrvName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrvType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrvLength)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrvElectricity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrvPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Pas aan</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <ol>
                            @foreach (var r in item.Reserveringen)
                            {
                                <li>
                                    @item.CrvPlate
                                </li>
                                <li>
                                    @r.StartDatum
                                </li>
                            }
                        </ol>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else @if (signinManager.IsSignedIn(User))
{
<h1>Overzicht van voertuigen</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CrvName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrvType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrvLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrvElectricity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrvPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CrvName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrvType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrvLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrvElectricity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrvPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
            </tr>
        }
    </tbody>
</table>
}
