@model IEnumerable<Crv>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Geregistreerde Voertuigen</h2>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    <a id="RegisterCrv" class="nav-link text-black-50" asp-action="RegisterCrv" asp-controller="Crv">Nieuw voertuig toevoegen</a>
                </li>
            </ul>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Merk</th>
                    <th>Type</th>
                    <th>Kenteken</th>
                    <th>Lengte in cm</th>
                    <th>Elektriciteit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var crv in Model)
                {
                <tr>
                    <td width="20%">@crv.CrvName</td>
                    <td width="20%">@crv.CrvType</td>
                    <td width="20%">@crv.CrvPlate</td>
                    <td width="20%">@crv.CrvLength</td>
                    <td width="20%">@crv.CrvElectricity</td>
                </tr>
           }
            </tbody>
        </table> }
    else
    {
        <p class="alert-danger">Geen items uitgeleend</p>}
</div> 