@model CCSB.Models.Reserveringen

@{
    ViewData["Title"] = "Details";
}

<h1>Details van de reserveringen</h1>

<div>
    <h4>Reserveringen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crv.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crv.CrvPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crv.CrvPlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Pas aan</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
