@model IEnumerable<CCSB.Models.Reserveringen>

@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht van alle reserveringen</h1>

<p>
    <a asp-action="Create">Nieuwe maken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crv.CrvPlate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crv.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crv.CrvPlate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Pas aan</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
